/* .note{
    padding: 0;
    margin: 0;
} */

.no-decoration{
    text-decoration: none;
}

.note{
    padding: 5px 0 0 0;
    margin: 10px 0;
    border-radius: 10px;
    background: #F0F7FD;

    border: Solid 1px #370588;
}
.note:hover{
    cursor: pointer;
}

.note .note-title, .note-description,.note-created{
    /* padding: 0 10px; */
    margin: 5px 10px;
}

.note .note-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note .buttons{
    display: flex;
}

.note .buttons .note-delete, .note-complete{
    background: none;
    padding: 5px 0 0 0;
    border: solid #370588;
    transition: background 0.1s;
}

.note .buttons .note-delete{
    flex: 1;
    border-radius: 0 0 0 10px;
    border-width: 1px 0 0 0;
}

.note .buttons .note-delete:hover{
    background: #EB8B8B;
}

.note .buttons .note-complete{
    flex: 6;
    border-radius: 0 0 10px 0;
    border-width: 1px 0 0 1px;
}
.note .buttons .note-complete:hover{
    background: #8BEFAD;
}
.note .buttons .note-completed:hover{
    background: rgb(240, 190, 99) !important;
}