.main-note > *{
    margin: 0;
    padding: 0;
}

.main-note{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-note .main-note-header{
    margin: 30px 10px 10px 30px;

    display: flex;
    justify-content: space-between;
    
}

.main-note .main-note-header-small{
    margin: 16px 20px 10px;

    display: grid;
    grid-template-areas: 
                        'back-button actions'
                        'description description';
}
.main-note .main-note-header-small .actions-wrapper{
    grid-area: actions;
    justify-self: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.main-note .main-note-header-small .actions-wrapper > * {
    margin: 0 0 0 10px;
}

.main-note .main-note-header-small .text-wrapper{
    grid-area: description;
}

.main-note .main-note-header-small .back-button{
    grid-area: back-button;
    margin: 5px 0 0 0;
}

.main-note .main-note-header h2{
    font-size: 2em;
}
.main-note .main-note-header span{
    font-size: 0.9em;
}

.main-note .main-note-header .actions-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.main-note .main-note-header .more-menu{
    /* margin: 20px 10px 0 0; */
    transition: filter 0.2s;
}
.main-note .main-note-header .more-menu:hover{
    filter: drop-shadow(2px 4px 6px var(--shadow-color));
}
.main-note .main-note-header .save-btn{
    /* margin: 20px 10px 0 0; */
    transition: filter 0.2s;
}
.main-note .main-note-header .save-btn:hover{
    filter: drop-shadow(2px 4px 6px var(--shadow-color));
}

.main-editor-wrapper{
    margin: 0px;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 0 0 2em 0;
}

.main-editor-toolbar{
    border-radius: 5px;
    margin-bottom: 0;
    background-color: var(--editor-toolbar-bg-color);
    border-color: var(--general-bg-color);
}
.main-editor-toolbar *{
    
    background-color: var(--editor-toolbar-bg-color);
    border-color: var(--general-bg-color);
}
.main-editor{
    background-color: var(--editor-bg-color);
    padding: 0 0 0 8px;
    margin: 0;
    overflow: auto;
}

.main-editor *{
    font-weight: unset;
}

.create-note{
    text-align: center; 
}

.create-note h2{
    margin: 0 0 15px 0;
}

.create-note button{
    background-color: #dadada;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
}

@media (max-width: 900px){
    .main-note {
        background-color: var(--general-bg-color);
    }
}