.form-container{
    border-radius: 2em;
    background-color: var(--general-bg-color);
    min-width: 380px;
    min-height: 400px;
    color: var(--text-color);
    padding: 1%;
}

.login-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form input{
    border-radius: 10px;
    border-color: rgb(85, 85, 85);
    border-width: 1px;
    border-style: solid;
    font-size: 1.2em;
    width: 60%;
    margin: 1.7em 0 0 0;
    padding: 15px 20px;
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

.login-form span{
    
    align-self: start;
    margin: 2em 0 0 15%;
}

.login-form a{
    margin: 0 0 0 15%;
    align-self: start;
    color: var(--text-color);
    text-decoration: none;
}

.login-form a:hover{
    color: var(--text-color);
    text-decoration: underline;
}

.login-form .btn-login{
    border: none;
    background: #C4A2FC;
    color: var(--text-color);
    transition: filter 0.2s;
}

.login-form .btn-login:hover{
    filter: brightness(0.9);
}

.login-form .login-error-message{
    padding: 10px 0 0 0;
    margin: 0;
    color: red;
}

@media (max-width: 850px){
    .form-container{
        min-width: 300px;
        min-height: 400px;
    }
    
}